{% extends "base.html" %} {% load static %} {% block title %}Приложения{% endblock %} {% block content %}

<div class="uk-container">
    <h3></h3>
    <h3>Приложения</h3>
    <div class="uk-child-width-1-3@s uk-grid-match" uk-grid>
        {% for app in applications %}
        <div>
            <div class="uk-card uk-card-hover uk-card-body">
                <h3 class="uk-card-title">{{ app.name }}</h3>
                <p>{{ app.description }}</p>
                <a class="uk-link-muted" href="/app/{{ app.id }}/">Открыть</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
