{% extends "base.html" %} {% load static %} {% block title %}Dashboard{% endblock %} {% block content %}

<div class="uk-container">
    <h1></h1>
    <ul uk-tab>
        <li><a href="#">Общая информация</a></li>
        <li><a href="#">Запросы</a></li>
        <li><a href="#">Ответы</a></li>
        <li><a href="#">Выполнене кода</a></li>
        <li><a href="#">Ошибки</a></li>
    </ul>

    <div class="uk-switcher uk-margin">

        <div>
            <article class="uk-article">

                <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{application.name}}</a></h1>

                <p class="uk-article-meta">Added: {{application.created_at}}</p>

                <p class="uk-text-lead">{{application.description}}</p>

            </article>
        </div>

        <div>
            <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                    <th>Адрес</th>
                    <th>Метод</th>
                    <th>Заголовки</th>
                    <th>Временная метка</th>
                </tr>
                </thead>
                <tbody>
                {% for r in requests %}
                <tr>
                    <td>{{r.path}}</td>
                    <td>{{r.method}}</td>
                    <td>{{r.headers}}</td>
                    <td>{{r.created_at}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
            <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                    <th>Статус ответа</th>
                    <th>Reason Phrase</th>
                    <th>Content Type</th>
                    <th>Размер</th>
                    <th>Временная метка</th>
                </tr>
                </thead>
                <tbody>
                {% for rs in responses %}
                <tr>
                    <td>{{rs.status_code}}</td>
                    <td>{{rs.reason_phrase}}</td>
                    <td>{{rs.content_type}}</td>
                    <td>{{rs.content_length}}</td>
                    <td>{{rs.created_at}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
            <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                    <th>Модуль</th>
                    <th>Имя функции</th>
                    <th>Имя файла</th>
                    <th>Строка</th>
                    <th>Код</th>
                    <th>Временная метка</th>
                </tr>
                </thead>
                <tbody>
                {% for c in code %}
                <tr>
                    <td>{{c.module}}</td>
                    <td>{{c.func_name}}</td>
                    <td>{{c.filename}}</td>
                    <td>{{c.line}}</td>
                    <td>{{c.code}}</td>
                    <td>{{c.timestamp}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
            <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                    <th>Тип исключения</th>
                    <th>Модуль</th>
                    <th>Имя функции</th>
                    <th>Имя файла</th>
                    <th>Строка</th>
                    <th>Временная метка</th>
                </tr>
                </thead>
                <tbody>
                {% for c in errors %}
                <tr>
                    <td>{{c.exception_type}}</td>
                    <td>{{c.source_module}}</td>
                    <td>{{c.source_function}}</td>
                    <td>{{c.source_filename}}</td>
                    <td>{{c.source_line}}</td>
                    <td>{{c.timestamp}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}
