*.html linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
*.ps1 eol=crlf linguist-vendored
*.sh eol=lf linguist-vendored
*.js eol=lf
*.vue eol=lf
*.cjs eol=lf
*.js eol=lf linguist-vendored
*.mjs eol=lf linguist-vendored
Makefile linguist-vendored
Dockerfile linguist-vendored