{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{% static 'css/uikit.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/preloader.css' %}"/>
    <script type="text/javascript" src="{% static 'js/uikit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/uikit-icons.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<!--{% include 'components/preload.html' %}-->

{% include 'components/navbar.html' %}

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
